{% import '_includes/forms' as forms %}

<form method="post" accept-charset="UTF-8">
  {{ actionInput('klaviyoconnect/orders/sync') }}
  {{ csrfInput() }}
  {{ redirectInput('utilities/klaviyo-connect') }}

  <h2>{{ 'sync.heading'|t('klaviyoconnect') }}</h2>
  <p>{{ 'sync.instructions'|t('klaviyoconnect') }}</p>

  {{ forms.dateField({
    label: 'sync.fromDate.label'|t('klaviyoconnect'),
    id: 'fromDate',
    name: 'fromDate',
    required: true,
  }) }}

  {{ forms.dateField({
    label: 'sync.toDate.label'|t('klaviyoconnect'),
    id: 'toDate',
    name: 'toDate',
    value: now,
    required: true,
  }) }}

  <button type="submit" class="btn submit">{{ 'sync.button'|t('klaviyoconnect') }}</button>
</form>
