{% import "_includes/forms" as forms %}

<div class="field" id="klaviyoSiteId-field">
  <div class="heading">
    <label for="klaviyoSiteId">Public API Key / Site ID</label>
		<p class="instructions">{{ "See Klaviyo -> Account -> Settings -> API Keys" | t }}</p>
  </div>
	<div class="input">
    <input
      class="text fullwidth" type="text" id="klaviyoSiteId" name="klaviyoSiteId"
      value="{{ settings.klaviyoSiteId }}">
	</div>
</div>

<div class="field" id="klaviyoApiKey-field">
  <div class="heading">
    <label for="klaviyoApiKey">Private API Key</label>
    <p class="instructions">{{ "See Klaviyo -> Account -> Settings -> API Keys" | t }}</p>
  </div>
	<div class="input">
    <input
      class="text fullwidth" type="text" id="klaviyoApiKey" name="klaviyoApiKey"
      value="{{ settings.klaviyoApiKey }}">
	</div>
</div>

<div class="field" id="klaviyoAvailableLists-field">
  <div class="heading">
    <label>Lists</label>
    <p class="instructions">{{ "Select lists available to Control Panel" | t }}</p>
  </div>
{% if craft.klaviyoConnect.lists is not null %}
  <div class="input">
    <input type="hidden" name="klaviyoListsAll" value="0" />
    <input type="hidden" name="klaviyoAvailableLists[]" value="" />
    <div class="field checkboxfield">
      <input type="checkbox"
        class="klaviyoListsAll"
        id="klaviyoListsAll"
        name="klaviyoListsAll"
        value="1"
        {% if settings.klaviyoListsAll %}checked="checked"{% endif %}
      />
      <label for="klaviyoListsAll" class="klaviyoListsAll-label">All</label>
    </div>
    {% for list in craft.klaviyoConnect.lists %}
    <div class="field checkboxfield">
      <input type="checkbox" name="klaviyoAvailableLists[]"
        class="klaviyoAvailableLists"
        id="klaviyoAvailableLists{{ list.id }}" value="{{ list.id }}"
        {% if list.id in settings.klaviyoAvailableLists %}
          checked="checked"
        {% endif %}
      />
      <label for="klaviyoAvailableLists{{ list.id }}">{{ list.name }}</label>
    </div>
    {% endfor %}
  </div>
{% elseif craft.klaviyoConnect.error is not null  %}
  <ul class="errors">
    <li>{% if '403' in craft.klaviyoConnect.error|keys %}Klaviyo Private API key is invalid{% endif %}</li>
  </ul>
{% else %}
  <ul class="errors">
    <li>No lists available</li>
  </ul>
{% endif %}
</div>

{% includecss %}
  .klaviyoListsAll-label {
    font-weight: bold;
  }
{% endincludecss %}

{% includejs %}
  var checkAll = document.querySelector('.klaviyoListsAll');
  var checkboxes = document.querySelectorAll('.klaviyoAvailableLists');
  if (checkAll && checkboxes) {
    checkAll.onchange = function () {
      checkboxes.forEach(function (checkbox) {
        checkbox.checked = checkAll.checked;
      });
    };

    checkboxes.forEach(function (checkbox) {
      if (checkAll.checked) checkbox.checked = true;
      checkbox.onchange = function () {
        checkAll.checked = false;
      };
    });
  }
{% endincludejs %}

<div class="field" id="klaviyoAvailableGroups-field">
  <div class="heading">
    <label>User Groups</label>
    <p class="instructions">{{ "Select user groups to track changes to" | t }}</p>
  </div>
  <div class="input">
    <input type="hidden" name="klaviyoAvailableGroups[]" value="" />
    {% for group in craft.userGroups.getAllGroups %}
    <div class="field checkboxfield">
      <input type="checkbox" name="klaviyoAvailableGroups[]"
        class="klaviyoAvailableGroups"
        id="klaviyoAvailableGroups{{ group.id }}" value="{{ group.id }}"
        {% if group.id in settings.klaviyoAvailableGroups %}
          checked="checked"
        {% endif %}
      />
      <label for="klaviyoAvailableGroups{{ group.id }}">{{ group.name }}</label>
    </div>
    {% endfor %}
  </div>
</div>

{% set mappings = craft.klaviyoConnect.profileMappings %}
<div class="field" id="klaviyoDefaultProfileMapping-field">
  <div class="heading">
    <label for="klaviyoDefaultProfileMapping">Default Profile Mapping </label>
    <p class="instructions">{{ "Klaviyo Connect will use this mapping when one isn't explicitly set in a POST." | t }}</p>
  </div>
  <div class="input">
    <div class="select">
      <select id="klaviyoDefaultProfileMapping" name="klaviyoDefaultProfileMapping">
        {% for mapping in mappings %}
          <option
            value="{{ mapping['handle'] }}"
            {% if settings.klaviyoDefaultProfileMapping == mapping.handle %}selected{% endif %}
          >
            {{ mapping.name }} - {{ mapping.description }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>